html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.nav-bar {
  margin: 0 10px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-bar img {
  margin: 0 5px;
  height: 30px;
  width: 30px;
}

.nav-bar input {
  padding: 0 24px;
  line-height: 30px;
  height: 30px;
  font-size: 22px;
  background: #f0f0f0;
  border: 0;
  border-radius: 15px;
  flex: 1;
  outline: none;
}

canvas {
  height: calc(100% - 40px);
}
